<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- boostrap min css -->
    <link
      rel="stylesheet"
      href="http://localhost:9000/bootstrap/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
    <header class="w-100 bg-warning">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col d-flex justify-content-start">
            <div class="d-inline p-2 fs-6">
              <a class="link-light text-decoration-none" href=""
                >Kênh người bán</a
              >
            </div>

            <div class="d-inline p-2 fs-6">
              <a class="link-light text-decoration-none" href=""
                >Trở thành người bán shoppe</a
              >
            </div>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="d-inline p-2 fs-6">
              <a class="link-light text-decoration-none" href="">Đăng ký</a>
            </div>

            <div class="d-inline p-2 fs-6">
              <a class="link-light text-decoration-none" href="">Đăng nhập</a>
            </div>
          </div>
        </div>
        <div class="row align-items-center" style="height: 120px">
          <div class="col-3 d-flex justify-content-center">
            <a href="">
              <img
                style="width: 180px"
                class="img-fluid text-white"
                src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Shopee.svg"
                alt=""
              />
            </a>
          </div>
          <div class="col">
            <div class="input-group">
              <input
                type="text"
                class="form-control border border-3 border-white"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />

              <button
                class="input-group-text btn border border-3 border-white text-white"
                id="inputGroup-sizing-default"
              >
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-center">
            <div>
              <button class="btn text-white fs-3">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="body"><%-body%></div>

    <!-- Jquery -->
    <script src="http://localhost:9000/jquery/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script src="http://localhost:9000/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- font awesome js -->
    <script src="http://localhost:9000/font-awesome/js/all.min.js"></script>

    <!-- wow.js -->
    <script src="http://localhost:9000/wow/wow.min.js"></script>
  </body>
</html>
