<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-3">Create</h1>
      <hr />
      <h2>Product</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <form method="POST">
        <div class="row">
          <div class="col">
            <!-- Product -->
            <div>
              <div class="row">
                <div class="col">
                  <!-- Info Product -->
                  <%- include("../../components/update-product-form") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
